/* * {
    margin: 0;
    padding: 0;
} */

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#conversations-list {
  border: 1px solid blue;
  width: 300px;
}


#chat-box {
    position: relative;
    border: 1px solid red;
    /* width: 60%; */
    /* margin: auto; */
    /* height: 80vh; */
    overflow-y: scroll;
    padding: 26px;
    /* vertical horizontal */
    padding-bottom: 150px;
    flex-grow: 1;
}

.convo-container {
  padding: 10px;
}

.convo-container:hover {
  background-color: rgb(191, 216, 237);
  cursor: pointer;
}

.active-convo {
  background-color: #a0c4dc;
}

.user-box {
    text-align: right;
    /* border: 1px solid pink; */
    /* display: inline-block; */

    span {
      border: 1px solid pink;
      padding: 10px;
      display: inline-block;
      border-radius: 16px;
    }
}

.user-box, .bot-box {
    padding: 16px;
}

#chat-input {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    max-width: 500px;
    width: 80%;
    padding: 20px 40px;
    border-radius: 32px;
    border: none;
    background-color: #534d4d;
    color: white;
    font-size: 20px;
}

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 5px;
  height: 5px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* curl -X POST \
  -H 'Content-Type: application/json' \
  -H "x-goog-api-key: AIzaSyCBOHnRHRSlJbaqF98PKJ8MN3GAbewbImQ" \
  https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent \
  -d '{
    "contents": [
      {
        "parts": [
          {"text": "What is 1 + 1"}
        ]
      }
    ]
  }'

    curl "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent" \
      -H "x-goog-api-key: AIzaSyCBOHnRHRSlJbaqF98PKJ8MN3GAbewbImQ" \
      -H 'Content-Type: application/json' \
      -X POST \
      -d '{ "contents": [ { "parts": [ { "text": "Explain how AI works in a few words" } ] } ] }'
       */